.auth {
  display: flex;
  margin-top: 80px;
  .loginInfo {
    width: 645px;
    height: auto;
    border-radius: 20px;
    background-color: #D8EEFF;
    border: solid 1px black;
  }
}
.auth-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    #button{
        width: 500px;
        height: 50px;
        background-color: #3472EA;
        color: white;
        border-radius: 5px;
        border: none;
    }
}
.form-group{
    position: relative;
    margin-bottom: 20px;
    label{
        font-size: xx-small;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-170%);
        pointer-events: none;
    }
    input{
        padding-left: 30px;
        border-radius: 5px;
        width: 500px;
        height: 50px;
        border: none;
    }
}