.info{
    background-color: #112b4c;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.components{
    display: flex;
    .logoNimg{
        display: flex;
        flex-direction: column;
        #logo{
            width: 178px;
            height:97px ;
            margin-left: 50px;
            margin-top: 30px;
        }
        #emergency{
            margin-top: 30px;
            margin-right: 30px;
            width: 762.75px;
            height: 498.75px;
            margin-left: 10px;
        }
    }
}

.info-container{
    margin-top: 40px;
    padding-left: 40px;
    padding-top: 30px;
    width: 591px;
    height: 650px;
    background-color: #D8EEFF;
    border-radius: 5px;
    h2{
        color: #0A0082;
        font-size: 22.5px;
        font-weight: 600;
    }
    #button{
        background-color: #6358DC;
        width: 500.53px;
        height: 62.95px;
        border-radius: 5px;
        border: none;
    }
}
