.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: rgba(92, 78, 100, 0.3) 0px 50px 100px -20px,
    rgba(92, 78, 100, 0.3) 0px 30px 60px -30px,
    rgba(92, 78, 100, 0.3) 0px -2px 6px 0px inset;
  margin-right: 20px;
  margin-top: 100px;
  width: 400px;
  #button {
    margin-top: 40px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #f18cc9;
    background-color: #f18cc9;
    text-align: center;
    padding: 15px 34px;
    width: 150px;
    height: 56px;
  }
  #button:hover {
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}
